.ipynb_checkpoints/
hidden_relay_service/
hidden_client
logs/

build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.claude
.idea
src/utils/mcl
src/utils/emp-tool
src/are-protocol/bin/
src/are-protocol-network/bin/
*.bin